@Html.Partial("Header")
@{
    Style.Require("Flow");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Flow Search").ToString();
    Script.Require("Flow").AtFoot();
}

<style>
    .header-main {
        display: none;
    }
    .masContent {
        width: 100% !important;
    }
</style>
<script src="~/Modules/EXPEDIT.Share/Scripts/vis.js"></script>
<script type="text/javascript">
    var mapHelper = '@Url.Content("~/Modules/NKD/Scripts/NKD.maps.js")';
</script>
<link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/vis.css">

<div id="application" name="application"></div>

<script type="text/x-handlebars" id="outlet">
    {{outlet}}
</script>



<script type="text/x-handlebars" id="search-home">

    {{searchText}} - tags

    <h1>Search</h1>
    {{render 'search' model}}

</script>




  <script type="text/x-handlebars" id="components/viz-editor">
      <h1> Vizz </h1>
      {{selected}}
  </script>

<style>
  canvas { border: 1px solid red; }
</style>


  <script type="text/x-handlebars" id="graph">
      <div class="container-fluid" style="margin-top:12px;">
        <div class="row-fluid">
          <div class="span6">
            <div id="flowItem">{{selectedNode.Label}}</div>
            <div>
              <ul id="flowEdit" class="nav nav-pills" style="display:none;">
                <li>
                  <a href="#" id="flowEditLink"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="span6">
              {{selected}}
            {{viz-editor data=data selected=selected}}
          </div>
         </div>


    <div id="graph-popUp">
    <span id="operation">node</span> <br>
    <table style="margin:auto;"><tr>
      <td>id</td><td><input id="node-id" value="new value"></td>
    </tr>
      <tr>
        <td>label</td><td><input id="node-label" value="new value"> </td>
      </tr></table>
    <input type="button" value="save" id="saveButton"></button>
    <input type="button" value="cancel" id="cancelButton"></button>
  </div>
  <br />


  </script>

<!--  <script type="text/x-handlebars" id="loading">
    <h1>Loading...</h1>
  </script>-->


  <script type="text/x-handlebars" id="search">
    <div class="search-wrapper">
      <div class="input-wrapper">
        <div class="input">

          {{! show all the available tags}}
          {{#each tag in tags}}
            <span  {{action 'deleteTag' tag}} class="tag">{{tag.n}}</span>
          {{/each}}

          {{! input box }}
          {{view Ember.TextField action='search' valueBinding="keywords" type='text' placeholder="Add keywords"}}

        {{! location }}
        {{#flow-modal name="locationModal" fade=true footerButtonsBinding="locationModalBtn" title="Add a location filter!"}}
                {{view Ember.TextField valueBinding="searchLocation" type='text' id='searchLocation' placeholder="Enter your location"}}
                <div id="map-search" style="width: 100%; height: 30vh"></div>
        {{/flow-modal}}
        <span {{action 'showLocationModal'}} class="glyphicon icon-globe"></span>


        {{! calendar }}
        {{#bs-modal name="dateModal" fade=true footerButtonsBinding="dateModalBtn" title="Add a time filer!"}}
            <p>Date from</p>
            {{view App.DatePickerField  valueBinding='sched_date_from'}}
            <p>to</p>
            {{view App.DatePickerField  valueBinding='sched_date_to'}}

            <br><br>
            Current filter {{sched_date_from}} - {{sched_date_to}}
        {{/bs-modal}}
        <span {{action 'showDateModal'}} class="glyphicon icon-calendar"></span>

        </div>

        {{! search }}
        &nbsp;
        <button {{action 'search'}} type="button" class="btn btn-primary">
          <span class="glyphicon icon-search"></span>Search
        </button>

        Graph:
        {{view Ember.Checkbox checkedBinding='graph'}}

        File:
        {{view Ember.Checkbox checkedBinding='file'}}

        Map:
        {{view Ember.Checkbox checkedBinding='map'}}





    </div>
    <br/><br/>


  <div class="row-fluid">
    {{#if graph}}
      <div {{bind-attr class='activeResultsClass :overscroll'}}>
        {{render 'graphResults'}}
      </div>
    {{/if}}
    {{#if file}}
      <div {{bind-attr class='activeResultsClass :overscroll'}}>
        {{render 'fileResults'}}
      </div>
    {{/if}}
    {{#if map}}
      <div {{bind-attr class='activeResultsClass :overscroll'}}>
        {{render 'mapResults'}}
      </div>
    {{/if}}

  </div>


  </script>

  <style>

  .overscroll {
  overflow-y: scroll;
  overflow-x: auto;
  }

  </style>



<script type="text/x-handlebars" data-template-name="graphResults">
  <h2>Graph output</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Updated</th>
            <th>TableType</th>
            <th>Score</th>
            <th>ReferenceID</th>
            <th>ExternalURL</th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>

              <td>{{safehtml Title}}</td>
              <td>{{safehtml Description}}</td>
              <td>{{safehtml Author}}</td>
              <td>{{safehtml Updated}}</td>
              <td>{{safehtml TableType}}</td>
              <td>{{safehtml Score}}</td>
              <td>{{safehtml ReferenceID}}</td>
              <td>{{safehtml ExternalURL}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="fileResults">
  <h2>File output</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Updated</th>
            <th>TableType</th>
            <th>Score</th>
            <th>ReferenceID</th>
            <th>ExternalURL</th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>
              <td>{{safehtml Title}}</td>
              <td>{{safehtml Description}}</td>
              <td>{{{safehtml Author}}}</td>
              <td>{{{safehtml Updated}}}</td>
              <td>{{{safehtml TableType}}}</td>
              <td>{{{safehtml Score}}}</td>
              <td>{{{safehtml ReferenceID}}}</td>
              <td>{{{safehtml ExternalURL}}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</script>



<script type="text/x-handlebars" id="components/map-result">
      <div {{bind-attr id='id'}} style="width: 100%; height: 75vh"></div>
</script>


<script type="text/x-handlebars" data-template-name="mapResults">
  <h2>Map output</h2>
     {{map-result resultsGeo=resultsGeo}}
</script>





  <!-- Datepicker widget -->
  <script type="text/x-handlebars" data-template-name="datepicker" >
    {{! This article was used http://azrnd.wordpress.com/2013/04/03/bootstrap-datepicker-in-ember-js/ }}
    <div class="input-append date datepicker" data-date-format="yyyy-mm-dd">
      {{!log view.date_string}}
        <input size="16" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
    </div>
  </script>