@Html.Partial("Header")
@{
    Style.Require("Flow");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Flow Search").ToString();
    Script.Require("Flow").AtFoot();
}

<style>
    .header-main {
        display: none;
    }
</style>
<script src="~/Modules/EXPEDIT.Share/Scripts/vis.js"></script>
<script type="text/javascript">
    var mapHelper = '@Url.Content("~/Modules/NKD/Scripts/NKD.maps.js")';
</script>
<link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/vis.css">
<link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Flow/Styles/flow.css">

<div id="application" name="application"></div>

<script type="text/x-handlebars" id="outlet">
    {{outlet}}
</script>


<script type="text/x-handlebars" id="search">

    <h1>Search</h1>
    {{render 'search-box' model}}

</script>


  <script type="text/x-handlebars" id="graph">
    GRAPH
    <div id="flowItem"></div>
    <div id="graph-popUp">
    <span id="operation">node</span> <br>
    <table style="margin:auto;"><tr>
      <td>id</td><td><input id="node-id" value="new value"></td>
    </tr>
      <tr>
        <td>label</td><td><input id="node-label" value="new value"> </td>
      </tr></table>
    <input type="button" value="save" id="saveButton"></button>
    <input type="button" value="cancel" id="cancelButton"></button>
  </div>
  <br />
  <div id="mygraph"></div>
  
  </script>


  <script type="text/x-handlebars" id="search-box">
    <div class="search-wrapper">
      <div class="input-wrapper">
        <div class="input">

          {{! show all the available tags}}
          {{#each tag in tags}}
            <span  {{action 'deleteTag' tag}} class="tag">{{tag.name}}</span>
          {{/each}}

          {{! input box }}
          {{view Ember.TextField valueBinding="searchText" type='text' placeholder="Add keywords"}}

        {{! location }}
        {{#flow-modal name="locationModal" fade=true footerButtonsBinding="locationModalBtn" title="Add a location filter!"}}
                {{view Ember.TextField valueBinding="searchLocation" type='text' id='searchLocation' placeholder="Enter your location"}}                
                <div id="map-search" style="width: 100%; height: 30vh"></div>
        {{/flow-modal}}
        <span {{action 'showLocationModal'}} class="glyphicon icon-globe"></span>


        {{! calendar }}
        {{#bs-modal name="dateModal" fade=true footerButtonsBinding="dateModalBtn" title="Add a time filer!"}}
            <p>Date from</p>
            {{view App.DatePickerField  valueBinding='sched_date_from'}}
            <p>to</p>
            {{view App.DatePickerField  valueBinding='sched_date_to'}}

            <br><br>
            Current filter {{sched_date_from}} - {{sched_date_to}}
        {{/bs-modal}}
        <span {{action 'showDateModal'}} class="glyphicon icon-calendar"></span>

        </div>

        {{! search }}
        &nbsp;
        <button {{action 'search'}} type="button" class="btn btn-primary">
          <span class="glyphicon icon-search"></span>Search
        </button>


    </div>

    <h2>Search output</h2>
    {{searchQuery}}
  </script>

  <!-- Datepicker widget -->
  <script type="text/x-handlebars" data-template-name="datepicker" >
    {{! This article was used http://azrnd.wordpress.com/2013/04/03/bootstrap-datepicker-in-ember-js/ }}
    <div class="input-append date datepicker" data-date-format="yyyy-mm-dd">
      {{!log view.date_string}}
        <input size="16" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
    </div>
  </script>