@Html.Partial("Header")
<div id="map-search" style="width: 100%; height: 70vh"></div>
<script type="text/javascript">
    var drawing = true;
    var smap;
    var cmap;
    function initialize() {
        smap = SetupDrawingMap('map-search');
        RedrawMap(smap);
        
    }
   
    $(document).ready(function () {
        if (drawing)
            LoadScript('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize&libraries=drawing');
        else
            LoadScript('http://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=true');
        LoadScript('@Url.Content("~/Modules/NKD/Scripts/NKD.maps.js")');
    });

    function OnMapUpdate(map, event, center, viewport) {
        cmap = map;
        console.log(event, viewport)        
        if (event.eventType == "EDITED") {
            if (event.eventSource.type == "marker") {
                DeleteExceptedShape(map, event.eventSource)
            }
            else {
                DeleteExceptedShapeTypes(map);
            }
        }
    }
</script>