@Html.Partial("Header")
@{
    Style.Require("Flow");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Flow Search").ToString();
    Script.Require("Flow").AtFoot();
}

<style>
    .header-main {
        display: none;
    }
    #masContent {
        width: 100% !important;
    }
    /*canvas { border: 1px solid red; }*/
    .row-fluid [class*="span"] {
        margin-left: 1px !important;
    }
    .map-result img {
        max-width: none;
    }
</style>
<script src="~/Modules/EXPEDIT.Share/Scripts/vis.js"></script>
<script type="text/javascript">
    var mapHelper = '@Url.Content("~/Modules/NKD/Scripts/NKD.maps.js")';
</script>
<link type="text/css" rel="stylesheet" href="~/Modules/EXPEDIT.Share/Styles/vis.css">

<div id="application" name="application"></div>

<script type="text/x-handlebars" id="outlet">
    {{outlet}}
</script>



<script type="text/x-handlebars" id="search-home">

    {{searchText}} - tags

    <h1>Search</h1>
    {{render 'search' model}}

</script>




  <script type="text/x-handlebars" id="components/viz-editor">
  </script>


  <script type="text/x-handlebars" id="wikipedia">
      <h1>{{selected}}</h1>
         <div class="container-fluid" style="margin-top:12px;">
        <div class="row-fluid">
          <div class="span6">
               {{safehtml model.content}}
          </div>
          <div class="span6">
               {{viz-editor data=data selected=selected}}
          </div>
         </div>
      </div>

  </script>


  <script type="text/x-handlebars" id="graph">
      <div class="container-fluid" style="margin-top:12px;">
      <h1>{{model.label}}</h1>
         <div class="container-fluid" style="margin-top:12px;">
        <div class="row-fluid">
          <div class="span6">
                {{safehtml model.content}}
          </div>
          <div class="span6">
              {{viz-editor data=data selected=selected}}
          </div>
         </div>
      </div>


    <div id="graph-popUp">
    <span id="operation">node</span> <br>
    <table style="margin:auto;"><tr>
      <td>id</td><td><input id="node-id" value="new value"></td>
    </tr>
      <tr>
        <td>label</td><td><input id="node-label" value="new value"> </td>
      </tr></table>
    <input type="button" value="save" id="saveButton"></button>
    <input type="button" value="cancel" id="cancelButton"></button>
  </div>
  <br />


  </script>

<!--  <script type="text/x-handlebars" id="loading">
    <h1>Loading...</h1>
  </script>-->


  <script type="text/x-handlebars" id="search">
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span12">
          <div class="search-wrapper">
            <div class="input-wrapper">
              <div class="input">

                {{! show all the available tags}}
                {{#each tag in tags}}
                  <span  {{action 'deleteTag' tag}} class="tag">{{tag.n}}</span>
                {{/each}}

                {{! input box }}
                {{view Ember.TextField action='search' valueBinding="keywords" type='text' placeholder="Add keywords" autofocus="autofocus"}}

              {{! location }}
              {{#flow-modal name="locationModal" fade=true footerButtonsBinding="locationModalBtn" title="Add a location filter!"}}
                      {{view Ember.TextField valueBinding="searchLocation" type='text' id='searchLocation' placeholder="Enter your location"}}
                      <div id="map-search" style="width: 100%; height: 30vh"></div>
              {{/flow-modal}}
              <span {{action 'showLocationModal'}} class="glyphicon icon-globe"></span>


              {{! calendar }}
              {{#bs-modal name="dateModal" fade=true footerButtonsBinding="dateModalBtn" title="Add a time filer!"}}
                  <p>Date from</p>
                  {{view App.DatePickerField  valueBinding='sched_date_from'}}
                  <p>to</p>
                  {{view App.DatePickerField  valueBinding='sched_date_to'}}

                  <br><br>
                  Current filter {{sched_date_from}} - {{sched_date_to}}
              {{/bs-modal}}
              <span {{action 'showDateModal'}} class="glyphicon icon-calendar"></span>
            </div>

            {{! search }}
            &nbsp;
            <button {{action 'search'}} type="button" class="btn btn-primary">
              <span class="glyphicon icon-search"></span>Search
            </button>

            Pagesize:
            {{view Ember.Select content=pageSizes value=pageSize }}

            Workflows:
            {{view Ember.Checkbox checkedBinding='graph'}}

            Files:
            {{view Ember.Checkbox checkedBinding='file'}}

            Locations:
            {{view Ember.Checkbox checkedBinding='map'}}
            <br />
             {{#if keywords}}
                {{#link-to 'wikipedia' keywords}}Research {{keywords}} from wikipedia{{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>
      <br/>
      <br/>
    </div>

      <div class="row-fluid">
        {{#if graph}}
          <div {{bind-attr class='activeResultsClass :overscroll'}}>
            {{render 'graphResults'}}
          </div>
        {{/if}}
        {{#if file}}
          <div {{bind-attr class='activeResultsClass :overscroll'}}>
            {{render 'fileResults'}}
          </div>
        {{/if}}
        {{#if map}}
          <div {{bind-attr class='activeResultsClass :overscroll'}}>
            {{render 'mapResults'}}
          </div>
        {{/if}}

      </div>

    </div>


  </script>

  <style>

  .overscroll {
  /*overflow-y: scroll;*/
  /*overflow-x: auto;*/
  }

  </style>



<script type="text/x-handlebars" data-template-name="graphResults">
  <h2>Workflows</h2>

  {{#if loading}}

    Loading...

  {{else}}

    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageGraph'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageGraph'}}>Next</a></li>
          {{/if}}
      </ul>


      <div class="table-responsive" style="padding:12px;">
        <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Updated</th>
              </tr>
            </thead>
            <tbody>
              {{#each result in results}}
                {{#link-to 'graph' result.ReferenceID tagName='tr'}}

                  <td>{{safehtml result.Title}}</td>
                  <td>{{safehtml result.Author}}</td>
                  <td>{{safehtml result.Updated}}</td>
                {{/link-to}}
              {{/each}}
            </tbody>
        </table>
      </div>
    {{else}}

        Sorry no results could be found.

    {{/if}}

  {{/if}}

</script>


<script type="text/x-handlebars" data-template-name="fileResults">
  <h2>Files</h2>

  {{#if loading}}

    Loading...

  {{else}}


    {{#if results}}

      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageFile'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageFile'}}>Next</a></li>
          {{/if}}
      </ul>

      <div class="table-responsive" style="padding:12px;">
        <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Updated</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              {{#each result in results}}
                <tr>
                  <td>{{safehtml result.Title}}</td>
                  <td>{{safehtml result.Description}}</td>
                  <td>{{safehtml result.Author}}</td>
                  <td>{{safehtml result.Updated}}</td>
                  <td><a {{bind-attr href=result.ResourcePath}}>Download File</a></td>
                </tr>
              {{/each}}
            </tbody>
        </table>
      </div>

    {{else}}

        Sorry no results could be found.

    {{/if}}


  {{/if}}

</script>



<script type="text/x-handlebars" id="components/map-result">
      <div {{bind-attr id='id'}} style="width: 100%; height: 75vh; padding:12px;" class="map-result"></div>
</script>


<script type="text/x-handlebars" data-template-name="mapResults">
  <h2>Locations</h2>

  {{#if loading}}

    Loading...

  {{else}}

    {{#if results}}
      <ul class="pager">
          {{#if prev}}
             <li><a {{action 'prev' 'pageMap'}}>Previous</a></li>
          {{/if}}
          {{#if next}}
            <li><a {{action 'next' 'pageMap'}}>Next</a></li>
          {{/if}}
      </ul>

    {{else}}

        Sorry no results could be found.

    {{/if}}

  {{/if}}

  {{map-result resultsGeo=resultsGeo visi=visi}}

</script>





  <!-- Datepicker widget -->
  <script type="text/x-handlebars" data-template-name="datepicker" >
    {{! This article was used http://azrnd.wordpress.com/2013/04/03/bootstrap-datepicker-in-ember-js/ }}
    <div class="input-append date datepicker" data-date-format="yyyy-mm-dd">
      {{!log view.date_string}}
        <input size="16" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
    </div>
  </script>