@Html.Partial("Header")
@{
    Style.Require("Flow");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Flow Test").ToString();
    
}

<h3>Form {0}</h3>
<table border='1' cellpadding='4'>
    <tr>
        {1}
    </tr>
</table>
<h5>Submitted by {2} @@ {3}</h5>
<p><small>[Form ID: {4}]</small></p>