body {
    margin-top:0px !important;
}
#username {display: block !important;}
#username-email {display: block !important;}
#email {display: block !important;}
#password {display: block !important;}
#confirmPassword {display: block !important;}
#field { margin-left: .5em; }
#field, label { font-family: Arial, Helvetica, sans-serif; font-size: small; }
br { clear: both; }
/*input { border: 1px solid black; margin-bottom: .5em;  }*/
input.error { border: 1px solid red; }
label.error {
	background: url('images/unchecked.gif') no-repeat;
	padding-left: 16px;
	margin-left: .3em;
}
label.valid {
	background: none;
}

.filteredData img {
    max-width: 100%;
}

.filteredData div.thumb {
    margin-bottom: 20px;
}


.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in {
     z-index:1000000000001 !important;
}

ul.pager { /* This is the pager on the search page */
  margin-top: 5px;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index:10000000000 !important;
  /*position: block;*/
    top: 100%;
    left: 0;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;

    .ui-menu-item > a.ui-corner-all {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #555555;
      white-space: nowrap;

      &.ui-state-hover, &.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
      }
    }
}

.ui-helper-hidden-accessible {
    display:block;
    /*display:none;*/
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.main-searchbox span.tag {
    cursor: pointer;
    display: block;
    float: left;
    color: #fff;
    background: #428bca;
    padding: 7px;
    padding-right: 32px;
    margin: 4px;
}


.main-searchbox span.tag:after {
    position: absolute;
    content: "x";
    border: 1px solid;
    padding: 0 4px;
    margin: 1px 0 0px 6px;
    font-size: 10px;
}

.main-searchbox span.tag:hover{
  opacity:0.7;
}
.main-searchbox input[type=text]{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
}


div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
    width:100px;
}
#operation {
    font-size:28px;
}



.hlink {
    cursor:pointer;
}



.header-main {
    display: none;
}
#masContent {
    width: 100% !important;
}
/*canvas { border: 1px solid red; }*/
.row-fluid [class*="span"] {
    margin-left: 1px !important;
}
.map-result img {
    max-width: none;
}
.eui-modal.eui-full .eui-overlay {
    background: rgba(207,213,223,0.90) !important;
}

.eui-modal.eui-full .eui-modalobject {
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  display: block;
}

.eui-modal.eui-full .eui-modalobject-wrapper > div {
    padding: 50px;
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
    /*width: 100vw;*/
}

.vis-component {
  height: 80vh;
}
.graph-frame {
    background: rgba(250,250,250,1) !important;
    border: 1px rgb(231, 231, 231) solid;
}

/*Puts dropdowns above modals*/
.mce-container.mce-panel.mce-floatpanel.mce-menu.mce-menu-align {
    z-index: 100000000000 !important;
}

.eui-modal.eui-full .mce-tinymce.mce-container.mce-panel {
    max-width: 640px;
    margin: -35px auto 25px auto;
}

.eui-modal-open {
  position: fixed; /*fixes modals for safariii */
  width: 100%;
  overflow: hidden;
}

.eui-error-message {
    position: relative;
}

.srh {
	font-weight:bold;
	background-color:yellow;
}

.searchbox {
    margin:10px;
}

.form-control {
  width: 100%; /* bootstrap template overrides this default bootstrap class*/
}

.mce-widget.mce-tooltip {
    display: none !important;
}


/* cleans up vis.js toolbar */
div#graph-manipulationDiv {
background: rgb(235, 235, 235);
padding: 5px;
height: auto;
border: 1px solid rgb(218, 218, 218);
/* width: 100%; */
padding-right: 0px;
}

/*div.graph-manipulation-closeDiv {
    left: -10px;
    margin-left: 100% !important;
}*/
div.graph-seperatorLine {
display: inline-block;
width: 0px;
height: 27px;
background-color: #bdbdbd;
margin: 0px 0px -14px 16px;
}

span.graph-manipulationUI {
font-family: verdana;
font-size: 12px;
-moz-border-radius: 15px;
border-radius: 15px;
display: inline-block;
background-position: 0px 0px;
background-repeat: no-repeat;
height: 25px;
margin: 6px 0px 5px 15px;
vertical-align: middle;
cursor: pointer;
padding: 0px 8px 0px 8px;
}

.thumbnail {
  display: inline-block;
  background-color: #ECECEC;
    border: 4px solid #dff0fd;
  border-radius: 3px;
  padding: 0px;

}

span.graph-manipulationUI:hover {
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
  background-color: rgb(214, 214, 214);
}

.process-header small {
  margin-left: 0px;
}

.main-searchbox button.btn {
  margin-top: -3px;
}
.main-searchbox span.tag, .main-searchbox input[type=text] {
  margin-left: 0px;
  margin-bottom: 13px;
  margin-right: 6px;
  margin-right: 10px;
}


/* Userful helpers for vertical viewport height with fallback */
.vh-75 {
  min-height: 480px;
  height: 75vh;
}
.vh-65 {
  min-height: 320px;
  height: 65vh;
}

.vis-component > div {
    height: 100%;
    width: 100%;
    display: block;
    padding-bottom: 35px;
    max-height: 720px;
}



/* A few fixes for login page */
.login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
}
.login-wrapper .logo {
  height: 32px;
  margin-top: 75px;
}

/* The float is turned off for mobile devices, thus the account info drops down on a second line. Readding float fixes that. */
.navbar-header {
  float: left;
}




.messenger-expedit {
     z-index:1000000000000 !important;
}

.select2-drop {
    z-index: 1000000000 !important;
}





.content {
/*  margin-bottom: 0px;
  padding-bottom: 0px;  a little bit radical actually */
  /*border-radius: 0 0 0 0;*/

  margin-bottom: 25px;
  padding-bottom: 25px;
}


/* Navbar stuff from here !!! */

/* Make logo look better */
.navbar-brand img {
    max-height: 27px;
}
.navbar-brand {
  padding: 9px 20px !important;
}
@media all and (max-width: 769px) {
  .navbar-brand {
    margin-top: 7px;
  }
  .navbar-inverse .nav > li > a {
    padding-top: 14px !important;
  }
}


.warning { color:rgb(167, 20, 20) !important; } /* FOr nav icons */
.success-lock { color: rgb(53, 158, 61) !important; }


/* Hack fix if only one item in menubar */
.navbar-inverse .nav > li > a {
    border-left: none;
    padding-top: 9px; /*maybe*/
}
.navbar-inverse .navbar-toggle {
  margin-top: 14px;
}
